@font-face {
    /* Load .woff2 first for better performance */
    font-family: 'Spyro2';
    src: url('fonts/Spyro2HD.woff2') format('woff2'),  /* Modern browsers */
         url('fonts/Spyro2HD.woff') format('woff');    /* Fallback for older browsers */
    font-weight: normal;
    font-style: normal;
}

body, html {
    font-family: 'Spyro2', Arial, sans-serif;  /* Fallback to Arial or sans-serif if Spyro2 isn't available */
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

.static-text {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;  /* Ensure text is visible on the black canvas */
    font-size: 18px;
    font-family: 'Spyro2', Arial, sans-serif;
    z-index: 10;
}
